:root {
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);

  --veryDarkBlue: hsl(220, 13%, 13%);
  --darkGrayishBlue: hsl(219, 9%, 45%);
  --grayishBlue: hsl(220, 14%, 75%);
  --lightGrayishBlue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --black75: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  position: relative;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: baseline;
  & .menu-logo {
    display: flex;
    gap: 10px;
    align-items: baseline;
  }
  & .user-data {
    display: flex;
    gap: 25px;
    align-items: baseline;
    & .img-user img {
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }
    & .car-products {
      position: relative;
      & .number_products {
        position: absolute;
        color: var(--white);
        font-size: 0.8rem;
        background-color: var(--orange);
        top: -10px;
        right: -16px;
        padding: 1px 10px;
        border-radius: 10px;
      }
    }
  }
  & .links_menu {
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black75);
    position: absolute;
    z-index: 100;
    & .nav {
      width: 60vw;
      height: 100%;
      padding: 20px;
      background-color: var(--white);
      & .link-item {
        font-size: 1.125rem;
        font-weight: 700;
        padding: 40px 0 10px 0;
        list-style: none;
      }
    }
    &.show {
      animation: fade-in 0.5s forwards;
      display: block;
    }
    &.no_show {
      animation: fade-out 0.5s forwards;
      display: none;
    }
  }
}

main {
  & .images-container {
    display: flex;
    flex-direction: column;
    position: relative;
    & .carrusel-img {
      display: none;
    }
    & .img-large {
      position: relative;
      & .navigation-image {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 10px;
        top: 40%;
        & .b-navigation {
          display: grid;
          place-items: center;
          width: 45px;
          height: 45px;
          background-color: var(--white);
          border-radius: 50%;
        }
      }
    }
  }
  & .details-container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    & .title {
      text-transform: uppercase;
      font-weight: 700;
      color: var(--orange);
      margin-bottom: 10px;
    }
    & p {
      color: var(--darkGrayishBlue);
      margin-bottom: 10px;
      line-height: 1.5625rem;
    }
    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      font-size: 1.09rem;
      border-radius: 10px;
      color: var(--white);
      font-weight: 700;
      border: none;
      outline: none;
      gap: 10px;
      background-color: var(--orange);
    }
    & .prices {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & .withDesc {
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--veryDarkBlue);
      }
      & .desc {
        font-size: rem;
        font-weight: 700;
        color: var(--orange);
      }
      & .total {
        font-weight: 400;
        color: var(--grayishBlue);
        text-decoration: line-through;
      }
    }
    & .add-products {
      display: flex;
      padding: 10px 25px;
      justify-content: space-between;
      align-items: center;
      justify-content: space-between;
      & .units {
        font-weight: 700;
      }
    }
  }
}

.modal-info {
  display: none;
  position: absolute;
  margin: auto;
  border-radius: 10px;
  top: 3%;
  left: 0;
  right: 0;
  bottom: 10%;
  min-height: 250px;
  color: var(--black);
  width: 94%;
  background-color: var(--white);
  & .modal-info_title span {
    font-size: 30px;
    font-weight: 700;
    color: var(veryDarkBlue);
    display: block;
    padding: 20px;
    border-bottom: 1px solid var(--grayishBlue);
  }
  & .modal-info_body span {
    color: var(--darkGrayishBlue);
    display: grid;
    font-weight: 700;
    place-items: center;
    min-height: 200px;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
